<div class="container pt-5 pb-md-4" id="about">
    <div class="txtBox">
        <h3>Welcome to Blue Sapphire Games</h3>
        <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod
        <br>tempor incididunt ut labore et dolore magna aliqua. Morbi tincidunt
        <br>augue interdum velit euismod. Vulputate dignissim suspendisse in est
        <br>ante in nibh. Euismod in pellentesque massa placerat duis ultricies lacus. 
        <br>Nec dui nunc mattis enim ut tellus elementum sagittis. Amet mattis
        <br>vulputate enim nulla aliquet porttitor lacus luctus. Lacus sed turpis 
        <br>tincidunt id aliquet risus feugiat in. Venenatis cras sed felis eget velit.
        <br>Pellentesque eu tincidunt tortor aliquam nulla facilisi cras fermentum.
        <br>In arcu cursus euismod quis.</p>
    </div>
    <div class="imgBox">
        <img src="assets\WhatsApp Image 2021-01-04 at 15.12.51.jpeg" width="500" height="200">
    </div>
</div>
<hr>